@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<h3 class="row justify-content-center">Dashboard</h3>

<div class="my-7">
    <MudContainer  class="row justify-content-center">
        <MudProgressLinear Color="Color.Info" Size="Size.Medium" Indeterminate="false" />
        <MudText Typo="Typo.h5">XP</MudText>
    </MudContainer>
</div>